pkgbase = gibbonpfp-git
	pkgdesc = Offline Qt portrait editor and batch image processor
	pkgver = 0.1.0.r9.g153f8ae
	pkgrel = 1
	url = https://github.com/wispdevon/GibbonPfp
	arch = x86_64
	license = Apache-2.0
	checkdepends = python
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-declarative
	depends = opencv
	depends = onnxruntime
	depends = libraw
	depends = libheif
	depends = libtiff
	depends = libwebp
	provides = gibbonpfp
	conflicts = gibbonpfp
	source = GibbonPfp::git+https://github.com/wispdevon/GibbonPfp.git
	source = face_detection_yunet_2023mar.onnx::https://media.githubusercontent.com/media/opencv/opencv_zoo/47534e27c9851bb1128ccc0102f1145e27f23f98/models/face_detection_yunet/face_detection_yunet_2023mar.onnx
	source = modnet-photographic.onnx::https://huggingface.co/Xenova/modnet/resolve/fa2fa546052fba4c08921230a26cc69a333fca12/onnx/model.onnx
	sha256sums = SKIP
	sha256sums = 8f2383e4dd3cfbb4553ea8718107fc0423210dc964f9f4280604804ed2552fa4
	sha256sums = 07c308cf0fc7e6e8b2065a12ed7fc07e1de8febb7dc7839d7b7f15dd66584df9

pkgname = gibbonpfp-git
