pkgbase = gibbonpfp-git
	pkgdesc = Offline Qt portrait editor and batch image processor
	pkgver = 0.1.0.r9.g153f8ae
	pkgrel = 1
	url = https://github.com/wispdevon/GibbonPfp
	arch = x86_64
	license = Apache-2.0
	checkdepends = python
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-declarative
	depends = opencv
	depends = onnxruntime
	depends = libraw
	depends = libheif
	depends = libtiff
	depends = libwebp
	provides = gibbonpfp
	conflicts = gibbonpfp
	source = GibbonPfp::git+https://github.com/wispdevon/GibbonPfp.git
	source = face_detection_yunet_2023mar.onnx::https://media.githubusercontent.com/media/opencv/opencv_zoo/47534e27c9851bb1128ccc0102f1145e27f23f98/models/face_detection_yunet/face_detection_yunet_2023mar.onnx
	source = human_segmentation_pphumanseg_2023mar.onnx::https://media.githubusercontent.com/media/opencv/opencv_zoo/47534e27c9851bb1128ccc0102f1145e27f23f98/models/human_segmentation_pphumanseg/human_segmentation_pphumanseg_2023mar.onnx
	sha256sums = SKIP
	sha256sums = 8f2383e4dd3cfbb4553ea8718107fc0423210dc964f9f4280604804ed2552fa4
	sha256sums = 552d8a984054e59b5d773d24b9b12022b22046ceb2bbc4c9aaeaceb36a9ddf24

pkgname = gibbonpfp-git
